.palette {
  height: 100vh;

}

.palette-colors {
  height: 90%;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;

}

.rc-slider-rail {
  height: 8px;

}

.rc-slider-handle:active {
  background-color: blue;
  outline: none;

}

.rc-slider-handle:hover {
  background-color: blue;
  outline: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;

}

.rc-slider-handle:focus {
  background-color: blue;
  outline: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;

}

.rc-slider-handle {
  background-color: blue;
  outline: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
